@charset "UTF-8";
/* CSS Document */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */

html {
	font-size: 14px;
}
body {
	font-family:"IM Fell English SC", serif;
	color: #4d301a;
}
/*--------------------------1.4 - Forms------------------------- */
label {
	display:none;
}
/*--------------------------------------------------------------
3.0 - SITE STRUCTURE
-------------------------------------------------------------- */
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border;
	box-sizing: border-box;
}
*{
margin: 0;	
}
.wrapper {
	width: 80%; /*original width was 1170px*/
	margin: 0 auto;
}

.row:after {
	content: " ";
	display: table;
	clear: both;
}

img {
	max-width: 100%;
}
[class*="col-"] {
	float: left;
	padding: 0 2rem 2rem 0;
}

[class*="col-"]:last-of-type {
	padding-right: 0;
}
.center{
margin: 0 auto;	
}
/*--------------------------------------------------------------
3.1 - SINGLE COLUMNS
-------------------------------------------------------------- */
.col-1 {
	width: 100%;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
	padding: 1rem 0;
}

.col-1-4 {
	width: 25%;
	padding-bottom: 0;
}

.col-1-5 {
	width: 20%;
}

.col-1-6 {
	width: 16.66%;
}

.col-1-7 {
	width: 14.28%
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.11%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-12 {
	width: 8.33%;
}
/*--------------------------------------------------------------
3.2 - PARTIAL COLUMNS
-------------------------------------------------------------- */

.col-2-3 {
	width: 66.66%;
}

.col-3-4 {
	width: 75%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-2-6 {
	width: 16.66%;
}

.col-4-6 {
	width: 83.33%;
}

.col-3-7 {
	width: 14.28%;
}

.col-4-7 {
	width: 85.7%;
}

.col-3-8 {
	width: 37.5%;
}

.col-5-8 {
	width: 62.5%;
}

.col-3-9 {
	width: 11.11%;
}

.col-6-9 {
	width: 88.88%; 
}

.col-4-10 {
	width: 40%;
}

.col-6-10 {
	width: 60%;
}

.col-9-11 {
	width: 81.81%;
}

.col-2-11 {
	width: 18.18%;
}

.col-3-12 {
	width: 8.33%;
}

.col-9-12 {
	width: 91.67%;
}
/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */
#hero { 
  background: url(../img/plantation-copy.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#map {
	height: 200px;
	margin-top:100px;
}
/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
@media screen and (max-width: 480px) {
	
	/*----------------------- COLUMNS--------------------------------------- */
.col-3-8, .col-1-2, .col-4-6, .col-3-5{
width: 100%;	
}
.col-1-6 {
width: 40%;	
}
.col-1-3{
width: 90%;	
}
}